{% extends 'pokemonnavbarbase.html' %}
{% load static %}
{% block content %}

  <section class="cards-container">
    <a href="{% url 'pokemoncard-add' %}" class="btn btn-outline-primary">Add New Card</a><br>
    <!-- Display Pokemon Cards -->
    {% for card in pokemoncard %}
      <div class="card-box">
        <div class="card">
          <div class="card-type" id="{{ card.card_type|lower }}">
          <div class="card-image" id="{{ card.card_type|lower }}-img">
          {% for pokemon in pokemon_data %}
            {% if pokemon.name == card.name %}
              <img src="{{ pokemon.image_url }}" alt="{{ pokemon.name }} Image">
            {% endif %}
          {% endfor %}
        </div>
        <div class="card-name">
          <h2 class="sbs">{{ card.name}}</h2>
          <h2 class="sbs" id="card-number">#00{{ card.card_number }}</h2>
          <hr />
        </div>
        <div class="card-rarity">
          <h3 class="rarity">Rarity:</h3>
          <h3 class="rarity" id="rare-text">{{ card.rarity }}</h3>
        </div>
        <table class="card-stats">
          <tbody>
            <tr>
              <th>HP:</th>
              <td>{{ card.hp }}</td>
            </tr>
            <tr>
              <th>Card Type:</th>
              <td>{{ card.card_type }}</td>
            </tr>
            <tr>
              <th>Attack:</th>
              <td>{{ card.attack }}</td>
            </tr>
            <tr>
              <th>Description:</th>
              <td>{{ card.description }}</td>
            </tr>
            <tr>
              <th>Weakness:</th>
              <td>{{ card.weakness }}</td>
            </tr>
            <tr>
              <th>Abilities:</th>
              <td>{{ card.abilities }}</td>
            </tr>
            <tr>
              <th>Action:</th> 
              <td>
                <a href="pokemoncard_list/{{ card.id }}" >Edit</a> |
                <a href="pokemoncard_list/{{ card.id }}/delete" >Delete</a>
              </td>
            </tr>
          </tbody>
        </table>
        <hr / >
        </div>
        </div>
      </div>
    {% endfor %}
    <dv><br><br><br></dv>
  </section>
{% endblock %}